/* To style footer page */
.footer-section{
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(192, 188, 188);
    color: white;
    margin-top:10px;
    padding: 0.5em;
    text-align: center;
}
.footer-container i{
    justify-content:left;
    margin:2px;
}