<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<link rel="stylesheet" href="/css/footer.css">
<!-- footer Section -->

<!-- Grid container -->
<footer class="footer-section">
    <div class="footer-container">
        <a class="facebook"style="href="#!><i class="fa-brands fa-square-facebook fa-2xl" style="color: #125ddf;"></i></a>
        <a class="twitter"style="href="#!><i class="fa-brands fa-square-twitter fa-2xl" style="color: #0a4fc6;"></i></a>
        <a class="linkedin"style="href="#!><i class="fa-brands fa-linkedin fa-2xl" style="color: #0047c2;"></i></a>
        <a class="instagram"style="href="#!><i class="fa-brands fa-square-instagram fa-2xl" style="color: #f70808;"></i></a>
        <a class="github"style="href="#!><i class="fa-brands fa-square-github fa-2xl" style="color: #050505;"></i></a>

    <!-- Copyright -->
        © 2023 Copyright Reserved
    
     
    </a>
    </div>
</footer> 
    