<!--SignIn Panel-->
<base href="/">

<link rel="stylesheet" href="/css/sign.css">
<div class="mainContainer ">
    <div class="formInput">
        <h2>Welcome Back</h2>
        <form method="POST" action="/users/create-session" >
            <label>Email<input type="email" name="email" placeholder="Your Email" required></label>
            <label>Password<input type="password" name="password" placeholder="Password" required></label>
            
            <a href="/users/forgetPassword"> Forget your Password?</a>
            
            <div class= 'buttons'>
                <div class = 'submitButtons'><button type="submit">Sign In</button></div><br>
            </div>
            <div class="extra">
                <p>Not an User?<a href="/users/sign-up"> Register User</a></p>
            </div>
    </div>
</div> 